* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 
    "left-side main" 3fr
    "footer footer" 1fr /
    1fr 3fr;
}

.left-side {
    background-color: lightblue;
    grid-area: left-side;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr 2fr auto;
}

.logo,
.left-navbar,
.playlist,
.left-buttons {
    border: 2px dotted red;
}

.two-column-grid {
    display: grid;
    grid-template-columns: auto 1fr;
}

.nav-icon {
    width: 20px;
}

.left-buttons .nav-icon {
    width: 12px;
}

.left-buttons .profile {
    width: 15px;
}



.main {
    grid-area: main;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 65px 1fr;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: rgba(26, 26, 26, 0.945);
    place-items: center end;
  }

  .button {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 15px;
  }

.footer {
    background-color: lightpink;
    grid-area: footer;
}

